@import '../../styles.scss';

.content{    
    @include md {
        display: flex;
        margin:3vw;
      }

    .info{
        width: 100%;
        padding: 3%;
    }

    .form{
        width: 100%;
    }
}