@import '../../../styles.scss';


.textStyle{
    font-family: "Proxima Nova Regular";
    font-size: 18px;
    width: 100%;
    margin: 3%;

    @include md {
        font-size: 20px;
    }

}

.participants {
    list-style: none;
    padding-left: 0%;
    margin: 4%;
    li{
    width: 100%;
    margin-top: 3%;
    margin-bottom: 3%;

    text-align: center;
    h2{
        font-family: "Sharp Sans Bold";
        color:rgb(20, 20, 20);
    }

    h4{
        font-family: "Sharp Sans Medium";
    }
    
}}

 .parnerBar {
     
     margin-top: 2%;
     margin-bottom: 2%;
     display: flex;
     justify-content: center;
     align-items: center;
    :hover{
        transform: scale(1.5)
    }
    img{
    margin-left: 3%;
    margin-right: 3%;
        width: 12%;
        height: 12%;
        transition: all 0.8s;

 }}